/* Reference index.css for base styles */
@reference "./index.css";

#root {
    margin: 0;
    min-height: 100lvh;
    max-width: 100lvw;
    min-width: var(--container-xs, 20rem);
}

.b-payment-summary-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover .b-chevron-animate {
        transform: translateX(4px);
        transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .b-chevron-animate {
        transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.b-app-container {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;

    &.b-fade-out {
        opacity: 0;
        pointer-events: none;
    }
}

/* Responsive table styles [only below medium screens] */
@media (width < 48rem) {
    .b-responsive-table tr {
        display: block;
        padding-block: 6px;
    }

    .b-responsive-table td {
        display: flex;
        justify-content: space-between;
        height: 32px;
    }

    .b-responsive-table td::before {
        content: attr(data-label);
        color: var(--color-neutral-300);
    }
}
