/* Reference index css */
@reference "./index.css";


.d-drawer {
    @apply h-screen;
}

.d-drawer-content {
    @apply
    flex 
    flex-col 
    justify-center;
}

.d-navbar,
.b-content {
    @apply
    px-4 
    py-3;
}

.d-navbar {
    @apply
    min-h-[56px]
    justify-between
    bg-base-100 
    border-b 
    border-neutral-50;
}

.b-content {
    @apply
    flex-1
    bg-secondary-600/25; 
}

.d-menu a:hover {
    text-decoration: none;
}

.d-menu {
    --d-menu-active-bg: var(--color-primary-500);
    --d-menu-active-fg: var(--color-white);
}

.d-menu a,
.d-menu summary {
    @apply
    py-[9.5px];
    /* padding-inline: 14px; */
}

.d-badge-xxs {
    --d-size: 0.5rem;
    padding: 0.25rem;
}
