/* Reference index.css for base styles */
@reference "./index.css";

.b-login-page {
    @apply flex
    h-screen 
    min-h-fit 
    flex-col 
    items-center 
    justify-between

    lg:flex-row;
}

.b-banner,
.b-login,
.b-login-main {
    @apply relative
    flex
    w-full
    flex-col
    items-center
    justify-start

    lg:h-full
    lg:min-h-fit
    lg:justify-center;
}

.b-login {
    @apply z-[2]
    flex-1
    justify-start
    rounded-t-2xl
    bg-white

    lg:z-[1] 
    lg:rounded-none;
}

.b-banner,
.b-login-main,
.b-login-footer {
    @apply p-[28px]

    md:px-[60px]
    md:py-[32px];
}

.b-login-main {
    @apply flex-1
    lg:pb-0;
}

.b-banner {
    @apply bg-primary-500 
    xs:gap-10 
    z-[1] 
    -mb-4 
    gap-4 
    pb-[48px] 
    text-white
    
    md:pb-[56px]
    
    lg:z-[2] 
    lg:mb-0
    lg:w-[40%]
    lg:max-w-[640px]
    lg:gap-6
    lg:pb-[32px];
}

.b-banner::after {
    @apply absolute 
    inset-0 
    -z-[1] 
    h-full 
    w-full 
    opacity-[0.05];
    content: '';
    background: url('../assets/images/pattern.png') no-repeat center
        center/cover;
}

.b-login-footer {
    @apply hidden 
    w-full 
    justify-between 
    text-xs
    text-neutral-300 
    
    sm:flex 
    
    lg:px-[48px] 
    lg:pt-0;
}
